jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Node
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - run: npm install

    - name: Build Vue Project
      run: npm run build

    # Add Android platform in CI
    - name: Add Android Platform
      run: npx cap add android || echo "Android platform already added"

    - name: Sync Capacitor
      run: npx cap sync android

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 17

    - name: Build APK
      run: |
        cd android
        ./gradlew assembleRelease

    - name: Upload output
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: android/app/build/outputs/apk/release/*.apk
